RewriteEngine On

RewriteBase /

ErrorDocument 404 /app/views/error/404.html

# =============== routers ================== #
RewriteRule ^$ run.php
RewriteRule ^/$ run.php
RewriteRule ^([a-z,0-9,A-Z,_-]+)$ run.php?path=$1 [L]
RewriteRule ^([a-z,0-9,A-Z,_-]+)/$ run.php?path=$1 [L]
